*

**/logs/

**/__pycache__/
**/.ruff_cache/
**/ui_compiled/

# Exclude log files
*.log

# Exclude certain file types (example: .bak and .tmp)
*.bak
*.tmp

# Exclude Python bytecode files
*.pyc
*.pyo

