*

!README.md
!profile
!xinitrc
!bashrc
!env
!aliases

!nvim/
!nvim/**

!git/
!git/personal_config

!picom/
!picom/**

!i3/
!i3/**

!zsh/
!zsh/.zshrc

!scripts/
!scripts/**

!fastfetch/
!fastfetch/**

!themes/
!themes/**

!rsync-backup/
!rsync-backup/**

**/logs/

**/__pycache__/
**/.ruff_cache/
**/ui_compiled/

# Exclude log files
*.log

# Exclude certain file types (example: .bak and .tmp)
*.bak
*.tmp

# Exclude Python bytecode files
*.pyc
*.pyo

